<div class="wrapper">
  <div class="sidebar">
    <div class="profile">

    </div>
    <div class="links">
      <ul class="linkslist">
        <li>
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <a routerLink="/">Challenges</a>
        </li>
        <li>
            <i class="fa fa-user" aria-hidden="true"></i>
            <a routerLink="/user" routerLinkActive="active">Profile</a> 
        </li>
      </ul>  
    </div>
    
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>